@model SalaryDiscountCalculatorWeb.Models.Salary.SalaryViewModel

@{
    ViewData["Title"] = "Desgloce de descuentos";
}

<h1>Desgloce de descuentos</h1>

<div>
    <hr />
    <div style="padding-left: 2%">
        <div class="row">
            <div class="form-group">
                <b> @Html.DisplayNameFor(model => model.SalaryPerMonth):</b>
                RD$@Html.DisplayFor(model => model.SalaryPerMonth)
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <b> @Html.DisplayNameFor(model => model.SalaryPerYear):</b>
                RD$@Html.DisplayFor(model => model.SalaryPerYear)
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <b> @Html.DisplayNameFor(model => model.AfpPercent):</b>
                @Html.DisplayFor(model => model.AfpPercent)
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <b> @Html.DisplayNameFor(model => model.AfpDiscountPerMonth):</b>
                RD$@Html.DisplayFor(model => model.AfpDiscountPerMonth)
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <b> @Html.DisplayNameFor(model => model.AfpDiscountPerYear):</b>
                RD$@Html.DisplayFor(model => model.AfpDiscountPerYear)
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <b> @Html.DisplayNameFor(model => model.SfsPercent):</b>
                @Html.DisplayFor(model => model.SfsPercent)
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <b> @Html.DisplayNameFor(model => model.SfsDiscountPerMonth):</b>
                RD$@Html.DisplayFor(model => model.SfsDiscountPerMonth)
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <b> @Html.DisplayNameFor(model => model.SfsDiscountPerYear):</b>
                RD$@Html.DisplayFor(model => model.SfsDiscountPerYear)
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <b> @Html.DisplayNameFor(model => model.IsrCategory):</b>
                @Html.DisplayFor(model => model.IsrCategory)
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <b> @Html.DisplayNameFor(model => model.IsrDiscountPerMonth):</b>
                RD$@Html.DisplayFor(model => model.IsrDiscountPerMonth)
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <b> @Html.DisplayNameFor(model => model.IsrDiscountPerYear):</b>
                RD$@Html.DisplayFor(model => model.IsrDiscountPerYear)
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <b> @Html.DisplayNameFor(model => model.TotalDiscountPerMonth):</b>
                RD$@Html.DisplayFor(model => model.TotalDiscountPerMonth)
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <b> @Html.DisplayNameFor(model => model.TotalDiscountPerYear):</b>
                RD$@Html.DisplayFor(model => model.TotalDiscountPerYear)
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <b> @Html.DisplayNameFor(model => model.SalaryPerMonthAfterAfpAndSfsDiscounts):</b>
                RD$@Html.DisplayFor(model => model.SalaryPerMonthAfterAfpAndSfsDiscounts)
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <b> @Html.DisplayNameFor(model => model.SalaryPerYearAfterAfpAndSfsDiscounts):</b>
                RD$@Html.DisplayFor(model => model.SalaryPerYearAfterAfpAndSfsDiscounts)
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <b> @Html.DisplayNameFor(model => model.NetSalaryPerMonth):</b>
                RD$@Html.DisplayFor(model => model.NetSalaryPerMonth)
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <b> @Html.DisplayNameFor(model => model.NetSalaryPerYear):</b>
                RD$@Html.DisplayFor(model => model.NetSalaryPerYear)
            </div>
        </div>
        <br />
        <div class="row">
            <div class="form-group">
                <b> @Html.DisplayNameFor(model => model.SalaryPerMonthInGfSystem):</b>
                RD$@Html.DisplayFor(model => model.SalaryPerMonthInGfSystem)
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <b> @Html.DisplayNameFor(model => model.FortnightSalaryInGfSystem):</b>
                RD$@Html.DisplayFor(model => model.FortnightSalaryInGfSystem)
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <b> @Html.DisplayNameFor(model => model.FortnightSalaryInGfSystem2):</b>
                RD$@Html.DisplayFor(model => model.FortnightSalaryInGfSystem2)
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Calculate">Calcular otro monto</a>
</div>